[include]
	path = .gitconfig_local
[rerere]
	enabled = 1
[merge]
	defaultToUpstream = true
	log = 20
[user]
	name = Will Ross
	signingkey = 54D4E94D
[core]
	excludesfile = ~/.cvsignore
[color]
	ui = auto
[diff]
	renames = copies
[github]
	user = paxswill
[alias]
	br = branch
	ci = commit
	co = checkout
	dc = diff --cached
	df = diff
	dh = diff HEAD
	ff = merge --ff-only
	lg = log --graph --decorate --oneline
	st = status
	ap = add --patch
	cip = commit --patch
[push]
	default = current
[pull]
	ff = only
[credential]
	# There can be multiple helpers defined; git will try each in turn until one
	# works.
	helper = osxkeychain
	helper = libsecret
	helper = cache --socket /tmp/USER/git-credential-cache-socket
[checkout]
	defaultRemote = origin
