[submodule "src/.vim/bundle/clang_complete"]
	path = src/.vim/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "src/.vim/bundle/vim-octopress"]
	path = src/.vim/bundle/vim-octopress
	url = git://github.com/tangledhelix/vim-octopress.git
[submodule "src/.vim/bundle/vim-fugitive"]
	path = src/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "src/.vim/bundle/vim-colors-solarized"]
	path = src/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "src/.vim/bundle/vim-opencl"]
	path = src/.vim/bundle/vim-opencl
	url = git://github.com/paxswill/vim-opencl.git
